.imagem{
    display: flex;
    justify-content: center;
    margin-right: 40px;
}
.dados{
    width: 65%;
    height: auto;
    border-radius: 10px;
}
.diagramas{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 35px;
}
.diagrama1{
    border-radius: 10px;
    width: 65%;
    height: auto;
    transition: transform 0.3s ease;
}
.diagrama1:hover{
    transform: scale(1.05);

}
img.sql{
    border-radius: 10px;
}
.dropbox {
    width: 50%;
  }
  .dropbox p {
    background-color: #1b1a1a; 
    padding: 10px; 
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
  }
  .dropbox p:hover {
    background-color: #0e0c0c;
  }
  .panel {
    display: none; 
  }
  .dropbox p.active {
    background-color: #0e0c0c; 
  }
  .dropbox p.active +.panel {
    display: block;
  }
  .codigo {
    flex: 1;
    max-width: 70%;
    margin-right: 30px; 
}
.codigo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}