#materia-conteudo p{
  font-weight: 400;
  text-align: justify;
  margin-right: 30px;
}
#materia-conteudo li{
  margin-bottom: 4px;
  font-size: 19px;

}
g{
  font-weight: 600;
}
#materia-conteudo h3{
  margin-top: 45px;
  margin-bottom: 40px;
}
a{
  font-weight: 700;
  font-size: 20px;
  margin-top: 35px;
}
#materia-conteudo pre {
  background: #2d2d2d;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

#materia-conteudo code {
  font-family: 'Courier New', Courier, monospace;
  color: #f8f8f2; /* Cor clara */
}

.imagem{
    display: flex;
    justify-content: center;
    margin-right: 40px;
}
.dados{
    width: 65%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.dados:hover{
  transform: scale(1.05);
}
.diagramas{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 35px;
}
.diagrama1{
    border-radius: 10px;
    width: 65%;
    height: auto;
    transition: transform 0.3s ease;
}
.diagrama1:hover{
    transform: scale(1.05);

}
img.sql{
    border-radius: 10px;
}
.dropbox {
    width: 50%;
  }
  .dropbox p {
    background-color: #1b1a1a; 
    padding: 10px; 
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
  }
  .dropbox p:hover {
    background-color: #0e0c0c;
  }
  .panel {
    display: none; 
  }
  .dropbox p.active {
    background-color: #0e0c0c; 
  }
  .dropbox p.active +.panel {
    display: block;
  }

.codigo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  max-height: 400px; /* Altura máxima da área de código */
  overflow-y: auto; /* Adiciona scroll vertical caso o conteúdo exceda a altura */
  padding: 10px; /* Espaçamento interno para melhorar a legibilidade */
}

.codigo pre {
  background: #2d2d2d;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  color: #f8f8f2;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.codigo pre::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
}
.codigo pre::-webkit-scrollbar {
  width:5px;
}
.codigo pre::-webkit-scrollbar-thumb:hover {
  background-color: rgb(161, 161, 170);
}