body{
    padding: 0;
    margin: 0;
    background-color: #000000;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #fff;
    
}
html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('path-to-your-fonts/segoeui.woff2') format('woff2'),
         url('path-to-your-fonts/segoeui.woff') format('woff');

}

header{
    padding: 10px 20px;
    top: 0;
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    
}
header h1 {
    font-size: 24px;
    font-weight: 600;
    margin-left: 60px;
}
nav{
    margin-left: auto;
    margin-right: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-right: 20px;
}
nav ul li{
    padding: 0 10px
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    
}

nav ul li a:hover {
    color: rgb(108, 99, 255);
}

main{
    margin-top: 70px;
    padding: 20px   ;
    margin-left: 60px;
    margin-right: 15px;
}
main section {
    margin-bottom: 40px;
}
main section h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
}
main section p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

#home h2 {
    margin-bottom: 10px;
}
.contato-logo{
    margin-top: 30px;
}
.git {
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}
.linke{
    font-size: 40px;
    color: #ffffff;
    margin-left: 30px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}
.git:hover {
    color: rgb(108, 99, 255);
    transform: scale(1.1);
}
.linke:hover{
    color: rgb(108, 99, 255);
    transform: scale(1.1);
}
.insta {
    font-size: 40px;
    color: #ffffff;
    margin-left: 30px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
}
.insta:hover {
    color: rgb(108, 99, 255);
    transform: scale(1.1);
}

main section h1{
    margin-top: 100px;
    font-size: 36px;
    font-weight: 700;
}
.conteudo{
    display: flex;
    justify-content: space-around;

}
.conteudo a{
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 180px;
    height: 60px;
    box-shadow: 0 0 10px rgba(108, 99, 255, 0.6);
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 5px 10px;
    transition: box-shadow 0.3s, transform 0.3s;
}
.conteudo a:hover{
    box-shadow: 0 0 20px rgba(108, 99, 255, 0.9);
    transform: scale(1.1);
}
main section h3{
    margin-top: 80px;
    font-size: 24px;
    font-weight: 700;
}
.cap{
    font-size: 17px;
    margin-left: 35px;
    transition: color 0.3s, transform 0.3s;
}
.headAcad i.cap {
    position: absolute;
    top: 848px; /* Ajuste este valor conforme necessário */
    left: 141px;
    transform: translateX(-50%);
}

.timeline {
    position: relative;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.timelineEsquerda{
    margin-left: 155px;
}
.timelineDireita{
    margin-left: 625px;
}
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #161616;
}
.balaoEsq:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -10px;
    margin-top: -110px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #131316;
    border-radius: 50%;
  }
  .balaoDi:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -10px;
    margin-top: -160px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #131316;
    border-radius: 50%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
.balaoEsq{
    width: 370px;
    position: relative;
    background-color: #131316;
    border-radius: 5px;
    box-shadow: rgb(39, 39, 42) 0px 3px 0px;
    padding-bottom: 7px;
    
}
.balaoEsq h4 {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 17px;
    margin-bottom: 1px;
}
.balaoEsq span{
    font-size: 14px;
    color: rgb(161, 161, 170);
    padding-left: 17px;
}
.balaoEsq p{
    font-size: 16px;
    padding-left: 17px;
}
.balaoDi{
    width: 370px;
    position: relative;
    background-color: #131316;
    border-radius: 5px;
    box-shadow: rgb(39, 39, 42) 0px 3px 0px;
    padding-bottom: 7px;
    
}
.balaoDi h4 {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 17px;
    margin-bottom: 1px;
}
.balaoDi span{
    font-size: 14px;
    color: rgb(161, 161, 170);
    padding-left: 17px;
}
.balaoDi p{
    font-size: 16px;
    padding-left: 17px;
}
footer{
    margin-top: 70px;
    background-color: #000000;
    text-align: center;

}
footer p{
    color: #fff;
    font-size: 14px;
}
.highlight{
    color: rgb(108, 99, 255);
    font-weight: 650;
}
#materia-conteudo li{
    margin-bottom: 4px;
    font-size: 17px;
    font-weight: 600;
}
#materia-conteudo p{
    font-weight: 600;
    margin-bottom: 40px;
    margin-right: 30px;
    text-align: justify;
    
}
.fonte{
    font-size: 14px;
    color: rgb(161, 161, 170);
}
.arduino{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 35px;
    height: auto;
    max-width: 100%;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}
.arduino:hover{
    transform: scale(1.05);
}
.dolado{
    max-width: 60%;
    flex-grow: 1;   
    text-align: justify;    
}
.ardContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.semaforo{
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    

}   
