#materia-conteudo p{
    font-weight: 400;
    text-align: justify;
    margin-right: 30px;
}
#materia-conteudo pre {
    background: #2d2d2d;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}
#materia-conteudo li{
    margin-bottom: 4px;
    font-size: 19px;
    font-weight: 600;
}
#materia-conteudo h3{
    margin-top: 45px;
    margin-bottom: 40px;
}
a{
    font-weight: 700;
    font-size: 20px;
    margin-top: 35px;
}
.html5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.html5 img{
    transition: transform 0.3s ease;
}
.html5 img:hover{
    transform: scale(1.05);
}

li g {
    color: rgb(108, 99, 255);
}

.ex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.formularioEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right: 80px;
}

.formularioEmail label {
    margin-bottom: 10px;
}

.formularioEmail input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
}

.formularioEmail button {
    padding: 10px 20px;
    background-color: rgb(108, 99, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formularioEmail button:hover {
    background-color: rgb(93, 86, 224);
}
.calc{
    justify-content: center;
    display: flex;
    align-items: center;

}
iframe{
    border-radius: 10px;
    margin-bottom: 50px;
}
